{% extends "base.html" %}
{% block Title %}
    All Polls
{% endblock Title %}
{% block Content %}
    <div style="background-color: rgb(0, 0, 0);display:flex;flex-direction:column;">
        {% for i in polls %}
        <div >
            <!-- style="background-color: coral;" -->
        <div class="container px-4 py-3 my-4 all_poll" style="cursor:pointer;">
            <div class="row"  style="border: 4px solid rgb(35, 186, 40);background-color:white">
                <div class="col-2 mx-auto my-auto py-auto">
                    <form method="post" action="{% url 'vote_ask_id' %}">
                        {% csrf_token %}
                        <div class="px-auto mx-2 my-3" >
                           POLL ID : <input type="number" width="10px" id="PollID" name="PollID" value="{{ i.id }}" style="width:50px;"
                            disabled/>
                        </div>
                        <button type="submit" class="btn   btn-success btn-lg btn-block" name="searchid">Vote</button>
                    </form>
                </div>
                <div class="col-6 mx-auto py-4">
                    <div class="card btn-outline-primary text-center">
                        {% if i.que_image  %}
                        <img src="{{ i.que_image.url }}" height="300px" width="300px" class="card-img-top" alt="Loading">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ i.poll_name }}</h5>
                            <p class="card-text">{{ i.que_text }}</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock Content %}