{% extends "base.html" %}
{% block Title %}
Contact
{% endblock Title %}
{% block Content %}
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="row">
                <!-- left side -->
                <div class="col-sm-6 main_header_left">
                    <img src="https://images.unsplash.com/photo-1655147260029-75bfe22efc90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" width="500px" height="600px" alt="...">
                </div>
                <!-- right side -->
                <div class="col-md-6 col-12 main_header_right  my-auto text-center">
                    <p>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-primary">
                                <H1>Hello Guys</H1>
                            </li>
                            <li class="list-group-item list-group-item-success">
                                <h4>
                                    Myself Naman.
                                </h4>
                            </li>
                            <li class="list-group-item list-group-item-danger">
                                <h4>
                                    I am currently pursuing my BTech from IIT Guwahati in Computer Science and Enginnering.
                                </h4>
                            </li>
                            <li class="list-group-item list-group-item-warning">
                               <h4>
                                   I am currently web Developer and have used Django,NodeJs and many more.
                               </h4>
                            </li>
                            <li class="list-group-item list-group-item-info">
                               <h4>
                                 Feel Free To Contact Me
                                 <hr>
                                 Email Me at : 
                                 <hr>
                                 <p>
                                    1) a.naman@iitg.ac.in
                                    <br>
                                    2) anandnaman844@gmail.com
                                 </p>
                               </h4>
                            </li>
                          </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock Content %}