{% extends 'base.html' %}
{% block Title %}
Home
{% endblock Title %}
{% block Content %}

<div class="container mt-5 text-center py-4 px-4" style="background-color :rgb(200, 243, 250);">
    <div class="row">
        <div class="col-lg-6">
            <div class="jumbotron border border-info btn-outline-info">
                <h1 class="display-4 text-primary">Create A Poll</h1>
                <hr class="my-4">
                <p class="lead">Create A New Poll Here</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="{% url 'create_poll' %}" role="button">Create Poll</a>
                </p>
            </div>
        </div>
        <div class="col-lg-6 ">
            <div class="jumbotron border border-success btn-outline-success">
                <h1 class="display-4 text-info">Vote A Poll</h1>
                <hr class="my-4">
                <p class="lead">For Voting In Already Made Poll</p>
                <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'vote_ask_id' %}" role="button">Vote Poll</a>
                </p>
            </div>
        </div>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6 ">
                <div class="jumbotron border border-warning btn-outline-warning">
                    <h1 class="display-4 text-danger">See Results</h1>
                    <hr class="my-4">
                    <p class="lead">See Results of Poll Here</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{% url 'results' %}" role="button">Results</a>
                    </p>
                </div>
            </div>
        </div>
</div>
</div>
{% endblock Content %}
