{% extends 'base.html' %}
{% block Title %}
Login
{% endblock Title %}
{% block Content %}
<style>
    .divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
</style>
<div class="container my-4">
    <section class="vh-100">
        <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form method="post">
              {% csrf_token %}
            <div class="form-outline mb-4">
                <h4>
                    <label class="form-label" for="username" name="username">Username</label>
                </h4>
              <input type="text" id="username" name="username"
               class="form-control form-control-lg" />
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
                <h4>
                    <label class="form-label" for="passwd">Password</label>
                </h4>
                <input type="password" id="passwd" class="form-control form-control-lg" name="password" />
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
        </form>
        
            <div class="d-flex justify-content-around align-items-center mb-4">
              <a href="#!">Forgot password?</a>
            </div>

            {% load socialaccount %}
            {% providers_media_js %}


            {% comment %} <a href="{% provider_login_url 'google' %}" class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
              type="submit"><i class="fab fa-google me-2"></i> Sign in with google</a>
             {% endcomment %}

              <a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
              type="submit"><i class="fab fa-facebook-f me-2"> </i> Sign in with facebook</a>
            
              <a href="/accounts/github/login/" class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #28aa11;"
              type="submit">Sign in with Github</a>

            <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
            </div>
            <div class="text-center">
                <h2>
                    <strong>
                        New User?
                    </strong>
                </h2>
                <a href="{% url 'signup' %}" class="btn-lg btn-hover btn-block btn-warning" >Register Here</a>
            </div>
            {% comment %} <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!"
            role="button">
            <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
            </a>
            <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!"
            role="button">
              <i class="fab fa-twitter me-2"></i>Continue with Twitter</a>
   {% endcomment %}
        </div>
    </div>
</div>
</section>
</div>
{% endblock Content %}