{% extends 'base.html' %}
{% block Title %}
Vote Change 
{% endblock Title %}
{% block Content %}
    <div class="container my-5 text-center">
        <div class="container my-5 ">
            <div class="row">
                <div class="col-8">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h3 class="card-title">CHANGE VOTE ?</h3>
                            <p class="card-text">Are You Confirm To Change Vote</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock Content %}