{% extends "base.html" %}
{% block Title %}
Voted
{% endblock Title %}
{% block Content %}
<div class="container my-5">
    <img src="https://cdn4.iconfinder.com/data/icons/emoji-37/512/feeling-Emoji-face-emoticon-emotion-23-512.png" height="300px" width="300px" alt="" class="mx-auto my-3">
    <img src="https://i.pinimg.com/originals/48/2b/4e/482b4e2706764cb1dd03c7aa30d717c1.png" height="300px" width="300px" alt="" class="mx-5 my-3">
<div class="container-fluid">
    <div class="jumbotron" style="background-color:#FF6F61;">
        <h1 class="text-center" style="color:white;">Voted Successfully</h1>
        <hr class="my-4">
        <hr class="my-4">
        <div class="container my-3 mx-3">
            <a class="btn btn-warning btn-lg"href="{% url 'results' %}"role="button">To View Results</a>
        </div>
        <div class="container my-3 mx-3">
            <a class="btn btn-success btn-lg" href="{% url 'home' %}" role="button">Home Page</a>
        </div>
      </div>
</div>
</div>
{% endblock Content %}